.MissoesContainer {
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  width: 80%;
}

.MissoesContainer h2 {
  margin-top: 0;
  width: 100%;
}
