@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200&display=swap') ;

* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: ' Epilogue ' , sans-serif;
  max-width: 100vw;
}

